/*
    This file is only for color variables, do NOT write any styles.

    * Order your color variations from light to dark:
*/

$grey-light: #caaaa8;
$grey: #808080;

$green-lighter: #789e35;
$green-light: #5e9300;
$green: #528000;

$blue-lighter: #B0BB9C;

$pink: #807186;

$purple: #7318A5;