/*
    This file is only for color variables, do NOT write any styles.

    * Order your color variations from light to dark:
*/

$gray-lighter:      #EEE;
$gray-light:        #DDD;
$gray:              #AAA;
$gray-dark:         #555;
$gray-darker:       #444;