/* 
    This file is for application base typography styles, this means set properties 
    like: "font, color, text-decoration, etc.", to css selectors.
*/

html {
  font-size: $font-html-size;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $font-default-size;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
